* {
    color: white;
    font-family: sans-serif;

}

body {
    background-image: url("space_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
  width: 150px;
  height: 75px;
}

.logo img:hover {
  transform: (1.05);
}

.navbar {
  display: flex;
  gap: 1rem;
}

.navbar a {
  display: inline-block;
  width: 150px;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  font-weight: 400;
}

.navbar a:hover {
  font-weight: 700;
}